/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar_container {
    height: 65px;
    display: flex;
    flex-direction: row;
    align-content: center;
    font-family: Roboto, sans-serif;
    font-size: .8rem;
    color: darkslategrey;
    padding-left: 30px;
    padding-right: 30px;

}

.navbar_left_side {
    flex: 1 1 200px;
    align-self: center;
}

.navbar_right_side {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.nav_ul, .nav_li, .navbar_left_side {
    display: inline;
}

.nav_li {
    align-self: center;
    padding-right: 16px;
    text-decoration: none;
    color: darkslategrey;
}

.nav_text:hover {
    text-decoration: underline;
}

.nav_li:last-child {
    padding-right: 0px;
}

.text-decoration-none {
    text-decoration: none;
    color: darkslategray;
}

.apps_icon {
    border-radius: 50%;
    padding: 7px;
}

.apps_icon:hover {
    background-color: #f2f2f2;
}

.nav-image {
    width: 30px;
    border-radius: 50%;
    height: auto;
    padding: 5px;
}

.nav-image:hover {
    background-color: #f2f2f2;
}

.nav_right_side_links {
    align-self: center;
}

.footer_container {
    background-color: #f2f2f2;
    height: 50px;
}


.homepage-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

.main {
    background-color: none;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.searchbar {
    width: 500px;
    height: 40px;
    border: 1.5px solid;
    border-color: #f2f2f2;
    border-radius: 3em;
    background-color: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-left: 1.5em;
    padding-right: 1.5em;
    align-self: center;
    margin-bottom: 30px;

}

#search_icon {
    align-self: center;
    font-size: 20px;
    color: darkslategray;
    margin-right: 10px;
}

#mic_icon {
    align-self: center;
    font-size: 20px;
    color: darkslategray;
}

#search_icon:hover {
    cursor: default;
}

.mic_icon {
    align-self: center;
    font-size: 20px;
    color: darkslategray;
}

#searchbar, #searchbar:active {
    border: none;
    background-color: none;
    flex-grow: 1;
    outline: none;
}

.searchbar:hover {
    box-shadow: 0px 2px 8px lightgrey;
}

.google_image_container {
    margin-bottom: 20px;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.google_image {
    width: 50%;
    height: auto;
    align-self: center;
    justify-self: center;
}

.searchbar_container {
    align-self: center;
}

.search_buttons_container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.button_search {
    margin-right: 10px;
}

button {
    border: none;
    padding: 10px;
    border-radius: 3px;
    background-color: #f8f9fa;
    text-decoration: none;
    color: darkslategray;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.bottom_spacing {
    flex-grow: 1;
}

button:hover {
    box-shadow: 0px 1px 2px lightgrey;
    border: .5px solid #d1d1d1;
    cursor: pointer;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .nav_right_side_links {
        align-self: center;
        width: 30vw;
    }

    .searchbar {
        width: 250px;
    }

    body {
        background-color: paleturquoise;
    }

    .navbar_container {
        height: 65px;
        display: flex;
        flex-direction: row;
        align-content: center;
        font-family: Roboto, sans-serif;
        font-size: .8rem;
        color: darkslategrey;
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar_container:nth-of-type(2) {
        height: 65px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        font-family: Roboto, sans-serif;
        font-size: .8rem;
        color: darkslategrey;
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar_left_side:nth-of-type(2) {
        flex: 1 0 100%;
        align-self: center;
        justify-self: center;
        align-content: center;
        justify-content: center;

    }

    .footer_left_side {
        flex: 1 0 100%;
        align-self: center;
        justify-self: center;
        align-content: center;
        justify-content: center;
        margin-bottom: 10px;

    }

    .footer_right_side {
        flex: 1 0 100%;
        align-self: center;
        justify-self: center;
        display: block;
    }

    .footer_container {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
}
