/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    padding-left: 30px;
    padding-right: 30px;
}

.navbar_container {
    height: 65px;
    display: flex;
    flex-direction: row;
    align-content: center;
    font-family: Roboto, sans-serif;
    font-size: .8rem;
    color: darkslategrey;

}

.navbar_left_side {
    flex: 1 1 200px;
    align-self: center;
}

.navbar_right_side {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.nav_ul, .nav_li, .navbar_left_side {
    display: inline;
}

.nav_li {
    align-self: center;
    padding-right: 16px;
    text-decoration: none;
    color: darkslategrey;
}

.nav_li:last-child {
    padding-right: 0px;
}

.nav-image {
    width: 30px;
    border-radius: 50%;
    height: auto;
}

.nav_right_side_links {
    align-self: center;
}